

<img src="./top-left.png" class="top-left" />
<img src="./top-center.png" class="top-center" />
<div class="header">
  <h1 class="purple-text">Kinderflohmarkt<br>Kita Swatten Weg</h1>
  <h3 class="pink-text">Ein flauschiger Vormittag mit<br>
    Kaffee & Kuchen & Shopping</h3>
  <h3 class="pink-text">Von Familien - Für Familien</h3>
</div>
<div class="content">
  <h5><mat-icon>calendar_month</mat-icon> Wann? </h5>
  Am 22.06.2025, von 10.00 bis 14.00 Uhr<br>
  <br>
  <h5><mat-icon>apartment</mat-icon> Wo?</h5>
  Kita Swatten Weg<br>
  Swatten Weg 10a<br>
  22547 Hamburg<br>
  <br>
  <h5><mat-icon>storefront</mat-icon>Was?</h5>
  Flohmarkt für Kinderbekleidung, Spielzeug und alles, was dazugehört!<br>
  <br>
  <h5><mat-icon>dining</mat-icon>Verpflegung</h5>
  Außerdem ist vor Ort mit Kaffee und Kuchen - gegen einen kleinen Obolus - für das leibliche Wohl gesorgt.<br>
</div>
<div class="bottom"></div>

