

<img src="./top-left.png" class="top-left" />
<div class="container">
  <div class="header-container">
    <img src="./top-center.png" class="logo" />
    
    <div class="header">
      <h1 class="purple-text">Kinderflohmarkt<br>Kita Swatten Weg</h1>
      <h3 class="pink-text">
        Ein flauschiger Vormittag mit<br>
        Kaffee & Kuchen & Shopping
      </h3>
      <h3 class="pink-text">
        Von Familien - Für Familien
      </h3>
    </div>
  </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
<div class="bottom">
  

</div>

<div class="bottom-actions">
  <button type="button"
  mat-icon-button
  matTooltip="Startseite"
  [routerLink]="['/Home']" routerLinkActive="router-link-active" >
  <mat-icon class="material-icons-outlined white-text">
    home
  </mat-icon>
</button>

<button type="button"
mat-icon-button
matTooltip="Informationen für Verkäufer"
[routerLink]="['/Seller']" routerLinkActive="router-link-active" >
<mat-icon class="material-icons-outlined white-text">
  storefront
</mat-icon>
</button>
</div>

