<h5>
    <mat-icon class="material-icons-outlined">
        info
        </mat-icon>
    Impressum
</h5>
<p>
    Diese Seite ist ein Projekt vom Elternrat der Kita Swatten Weg in Hamburg. Die Seite dient der Information über den Kinderflohmarkt und ist nicht kommerziell. <br>
    <br>
    Verantwortlich für den Inhalt: <br>
    <br>
    E-Mail: <br>
    <br>
    Haftungsausschluss: <br>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. <br>
</p>