<h5>
    <mat-icon class="material-icons-outlined">
        storefront
        </mat-icon>
    Informationen für Verkäufer
</h5>
<p>
    Du möchtest selber altes Spielzeug, Kleidung oder andere Dinge verkaufen? Dann melde dich gerne an!<br>
    Für 2m Stellfläche freuen wir uns über eine Spende von 5 Euro + einen Kuchen (oder vergleichbares).<br>
    <br>
    Die Spende kann im Vorfelde in der KiTa bezahlt werden. Den Kuchen bitte direkt beim Kuchenstand abgeben.<br>
    Eine Anmeldung ist bis zum 16.06.2025 möglich.<br>
    <br>
    Bitte bringe einen eigenen Tisch mit, den du selbstständig auf- und abbauen kannst. Wir stellen die Tische nicht zur Verfügung.<br>
    Die Stände können ab 9.00 Uhr aufgebaut werden. Der Flohmarkt beginnt um 10.00 Uhr und endet um 14.00 Uhr.<br>
    <br>
    Für weitere Informationen oder eine Anmeldung, schreib gerne eine E-Mail an <a href="mailto:kita-swattenweg@elbkinder-kitas.de">kita-swattenweg&#64;elbkinder-kitas.de</a>
</p>