<h5>
    <mat-icon>calendar_month</mat-icon>
    Wann?
</h5>
<p>
    Am 22.06.2025, von 10.00 bis 14.00 Uhr
</p>

<h5>
    <mat-icon>apartment</mat-icon>
     Wo?
</h5>
<p>Kita Swatten Weg</p>
<p>Swatten Weg 10a</p>
<p>22547 Hamburg</p>

<h5>
    <mat-icon>storefront</mat-icon>
    Was?
</h5>
<p>
    Flohmarkt für Kinderbekleidung, Spielzeuge und alles, was dazugehört!<br />
    Außerdem gibt es ein kleines Rahmenprogramm mit Spiel und Spaß für die Kleinen :-)
</p>

<h5>
    <mat-icon>dining</mat-icon>
    Verpflegung
</h5>
<p>Vor Ort ist mit Kaffee und Kuchen - gegen einen kleinen Obolus - für das leibliche Wohl gesorgt.</p>